<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>кефтеме</title>
</head>
<body>
    <h1>Одежды</h1>

    <form method="get">
        <input type="text" name="brand" placeholder="Бренд"></input>
        <input type="text" name="size" placeholder="размер"></input>
        <input type="text" name="color" placeholder="Цвет"></input>
        <input type="text" name="price" placeholder="Цена"></input>
        <button type="submit">Добавить</button>
    </form>

    <h2>Список одеждов:</h2>
    <ul>
        {% for cloth in clothes %}
        <li>{{ cloth }}</li>
        {% empty %}
        <li>Пусто пусто выросла капуста</li>
        {% endfor %}
    </ul>
</body>
</html>